* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, 
html {
    height: 100%;
}

.center {
    min-height: 100%;
    display: block;
    width: 811;
    margin: auto;
    text-align: center;

}
.size-18 {
    font-size: 18px;
}


.paragraph {
    color:blue

}

.align-center {
    text-align: center;
}

.footer-bg {
    background: #000000; 
   }